
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#F4F4F4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:360px;
height:640px;
background:white;
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
overflow:hidden;
display:flex;
flex-direction:column;
}

header{
padding:20px;
background:linear-gradient(180deg,#8A2BE2,#5B0AA3);
color:white;
text-align:center;
}

main{
flex:1;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.card{
background:#ECECEC;
padding:30px;
border-radius:16px;
text-align:center;
width:100%;
}

input{
width:90%;
height:45px;
padding:10px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
}

.btn-primary{
width:220px;
height:55px;
font-size:16px;
background:#0C3D6F;
color:white;
border:none;
border-radius:12px;
cursor:pointer;
margin:10px;
}

.btn-secondary{
width:220px;
height:55px;
font-size:16px;
background:#AEB9E6;
color:#1E1E1E;
border:none;
border-radius:12px;
cursor:pointer;
margin:10px;
}

.pergunta{
background:white;
padding:15px;
margin:10px 0;
border-radius:10px;
}
